.title {
  text-align: center !important;
  /* margin-bottom: 10px; */
  font-size: clamp(1.5rem, 4vw, 3rem) !important;
}

.headerText {
  color: 'white' !important;
  font-Size:'2em';
  margin-bottom: 2;
}

.pdfBtnContainer {
  text-align: center;
  margin-bottom: 70px;
}

.primaryBtn {
  padding: 10px 15px;
  background-color: #006400 !important;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer; 
}

.primaryBtn:hover {
  background-color: #00A000 !important;
}

.secondaryBtn{
  padding: 10px 15px;
  background-color: #DAA520 !important;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: #FFC000 !important;
}

.subscribeBtn {
  padding: 10px 15px;
  background-color: #1F2A30 !important;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

@media (min-width: 1400px) {
  .secondaryBtn, .primaryBtn {
    padding: 12px 18px !important;
    font-size: 1rem !important;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  .secondaryBtn, .primaryBtn {
    padding: 10px 15px !important;
    font-size: 0.9rem !important;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .secondaryBtn, .primaryBtn {
    padding: 6px 8px !important;
    font-size: 0.8rem !important;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .secondaryBtn, .primaryBtn {
    padding: 2px 6px !important;
    font-size: 0.45rem !important;
  }
}

@media (max-width: 479px) {
  .secondaryBtn, .primaryBtn {
    padding: 1px 3px !important;
    font-size: 0.35rem !important;
  }
}

@media (min-width: 1400px) {
  .contactBtn {
    padding: 8px 20px !important;
    font-size: 1rem !important;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  .contactBtn {
    padding: 10px 15px !important;
    font-size: 0.8rem !important; /* Adjust as needed */
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .contactBtn {
    padding: 4px 8px !important;
    font-size: 0.5rem !important;
  }
}

@media (max-width: 599px) {
  .contactBtn {
    margin-bottom: 6px !important;
    padding: 3px 5px !important;
    font-size: 0.4rem !important;
  }
}

.para {
  text-align: center;
}

.tabs {
  padding-right: 20px;
}

.marketPadding li {
  padding-left: var(--market-padding);
}

@media (min-width: 620px) and (max-width: 12000px) {
  .marketPadding li {
    padding-left: 5vw;
  }
}

.tabs {
  padding-right: 20px;
}

@media (min-width: 300px) and (max-width: 700px) {
  .tabs {
    padding-left: 12vw;
  }
}

@media (min-width: 701px) {
  .tabs {
    padding-left: 2vw;
  }
}

@media (max-width: 700px) {
  .dynamicHeaderHeight {
    height: 300px;
  }
}

/* Unfortunate mitigation hack to get menu component responsive */
@media (min-width: 1200px) and (max-width: 4000px) {
  .restaurantPadding li {
    padding-left: 26vw;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .restaurantPadding li {
    padding-left: 30vw;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .restaurantPadding li {
    padding-left: 28vw;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .restaurantPadding li {
    padding-left: 26vw;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .restaurantPadding li {
    padding-left: 20vw;
  }
}

@media (min-width: 600px) and (max-width: 639px) {
  .restaurantPadding li {
    padding-left: 17vw;
  }
}

@media (max-width: 599px) {
  .restaurantPadding li {
    text-align: center;
  }
}

@media (max-width: 599px) {
  .marketPadding li {
    text-align: center;
  }
}