.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  height: 500px;
}

.gridItem {
  padding: 20px;
  text-align: center;
}

.gridItemBorder {
  border-right: 1px solid #ccc;
}

.textColor {
  color: white;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.socialIcons > * {
  font-size: 24px;
}