.rip {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox */ 
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}

.navLinks {
  width: auto;
}


/* .lee {
  background-color: blueviolet;
} */

.lineItem {
  padding-inline: 45px;
}

.anchor {
  color: white;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
  text-decoration: none;
}

a:hover {
  color: #00A000;/* Change color on hover */
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav .active a {
  font-weight: bold; /* Highlight active tab */
}

.contactButtonContainer {
  margin-left: auto; /* Adjust spacing from navigation */
}

.contactButton {
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer; 
}

.contactButton:hover {
  background-color: #00A000;
}


.vMenuButtonContainer {
  margin-left: 3.5em; /* Adjust spacing from navigation */
}

.vMenuButton {
  padding: 10px 15px;
  background-color: #006400;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer; 
}

.vMenuButton:hover {
  background-color: #00A000;
}

.vMarketButtonContainer {
  margin-left: auto; /* Adjust spacing from navigation */
  padding-left: 15px;
}

.vMarketButton {
  padding: 10px 15px;
  background-color: #DAA520;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.vMarketButton:hover {
  background-color: #FFC000;
}

.content {
  padding: 20px; /* Add padding around the content */
}

.pageTitle {
  font-size: 2.5em; /* Adjust font size as needed */
  color: white;
  margin: 10px 0px 0px 1.5em; /* top: 10px, right: 20px, bottom: 30px, left: 40px */
}

.pTitle {
  color: white;
  margin: 0px 0px 1.5em 3.9em; /* top: 10px, right: 20px, bottom: 30px, left: 40px */
}

.bold {
  font-weight: bold;
}

.nBold {
  font-weight: normal;
}

.pageContent {
  margin-top: 20px; /* Adjust top margin as needed */
}

.afroCover {
  width: 100%; /* Makes sure the image takes the full width of its container */
  height: 3%;
  object-fit: cover; /* Ensures the image covers the entire container without distortion */
  position: absolute; /* Ensures the image is positioned absolutely within the header */
}