.content {
  padding: 20px; /* Add padding around the content */
}

.pageTitle {
  font-size: 2.5em; /* Adjust font size as needed */
  color: white;
}

.bold {
  font-weight: bold;
}

.pageContent {
  margin-top: 20px; /* Adjust top margin as needed */
}